<p>contact works!</p>
<p>Mam na imię {{imie}}</p>
<button (click)='toggleImage()'>{{isImageVisible ? 'Hide' : 'Show'}} penguin</button>
<button (click)='printFromInjectedService()'>Get message from service</button>
<button (click)='twoWayBindingTextShow()'>Print Two Way binded text</button>
<input [(ngModel)]="text">
<div id="imageContainer" style="width: 180px; height: 250px; margin:10px;">
  <img [src]='imgPath' *ngIf='isImageVisible' style="width: 100%; height: 100%;" />
</div>
<ul style="padding: 0px; margin: 0px;">
  <li *ngFor="let number of myArray">
    {{number}}
  </li>
</ul>


